{% extends 'main/catalogue_base.html' %}
{% load thumbnail %}
{% block catalogue-content %}
{% for obj in item_list %}
<div class="panel panel-default pointer" onclick="location.href='{% url 'main:item' obj.id %}'">
  <div class="panel-body">
    <div class="col-md-7 col-xs-7 col-sm-7 col-lg-7">
      {% thumbnail obj.main_photo "225x225" crop="center" as im %}
      <a class="thumbnail"><img src="{{ im.url }}"></a>
      {% endthumbnail %}
    </div>
    <div class="col-md-17 col-xs-17 col-sm-17 col-lg-17">
      <p class="lead">{{ obj.name }}</p>
      <p>{{ obj.description|safe }}</p>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
