table {    border-collapse: collapse;    padding-left: 10px;}td, th {    border-bottom: 1px solid #eee;    vertical-align: top;    padding: 5px;}th {    text-align: left;    font-size: 12px;    font-weight: bold;}thead th,tfoot td {    color: #666;    padding: 2px 5px;    background: #e1e1e1 url(../img/nav-bg.gif) top left repeat-x;    border-left: 1px solid #ddd;    border-bottom: 1px solid #ddd;}
tfoot td {    border-bottom: none;    border-top: 1px solid #ddd;}
thead th:first-child,tfoot td:first-child {    border-left: none !important;}
fieldset table {    border-right: 1px solid #eee;}
tr.row-label td {    padding: 0px 10px;    border-bottom: none;    margin: -5px 0;}
thead th {    padding: 2px 5px;}

